.gitbook-reward {
  padding: 20px 0; 
  margin: 60px auto 200px; 
  text-align: center;
  border-top:1px solid rgba(0,0,0,.1);
}

#rewardButton {
  cursor: pointer;
  border: 0;
  outline: 0;
  border-radius: 100%;
  padding: 0;
  margin: 0;
  letter-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
}
#rewardButton span {
  display: inline-block;
  padding:0px 20px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  color: #fff;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
  font-size: 18px;
  font-family: "Microsoft Yahei";
  background: #ea6f5a;
}
#rewardButton span:hover {
  background: #f7877f;
}
#QR {
  padding-top: 20px;
}
#QR a {
  border: 0;
}
#QR img {
  width: 180px;
  max-width: 100%;
  display: inline-block;
  margin: 0.8em 2em 0 2em;
}
#wechat:hover p {
  animation: roll 0.1s infinite linear;
  -webkit-animation: roll 0.1s infinite linear;
  -moz-animation: roll 0.1s infinite linear;
}
#alipay:hover p {
  animation: roll 0.1s infinite linear;
  -webkit-animation: roll 0.1s infinite linear;
  -moz-animation: roll 0.1s infinite linear;
}
@-moz-keyframes roll {
  from {
    -webkit-transform: rotateZ(30deg);
    -moz-transform: rotateZ(30deg);
    -ms-transform: rotateZ(30deg);
    -o-transform: rotateZ(30deg);
    transform: rotateZ(30deg);
  }
  to {
    -webkit-transform: rotateZ(-30deg);
    -moz-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    -o-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
  }
}
@-webkit-keyframes roll {
  from {
    -webkit-transform: rotateZ(30deg);
    -moz-transform: rotateZ(30deg);
    -ms-transform: rotateZ(30deg);
    -o-transform: rotateZ(30deg);
    transform: rotateZ(30deg);
  }
  to {
    -webkit-transform: rotateZ(-30deg);
    -moz-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    -o-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
  }
}
@-o-keyframes roll {
  from {
    -webkit-transform: rotateZ(30deg);
    -moz-transform: rotateZ(30deg);
    -ms-transform: rotateZ(30deg);
    -o-transform: rotateZ(30deg);
    transform: rotateZ(30deg);
  }
  to {
    -webkit-transform: rotateZ(-30deg);
    -moz-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    -o-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
  }
}
@keyframes roll {
  from {
    -webkit-transform: rotateZ(30deg);
    -moz-transform: rotateZ(30deg);
    -ms-transform: rotateZ(30deg);
    -o-transform: rotateZ(30deg);
    transform: rotateZ(30deg);
  }
  to {
    -webkit-transform: rotateZ(-30deg);
    -moz-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    -o-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
  }
}
